<!DOCTYPE html>
<html lang="pt">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page1">
    <div class="main">
        <!-- header -->
        <header>
            <div class="wrapper">

            </div>
            <h1 id="logo">@Styles.Render("~/Content/images")Survivor.com</h1>
        </header>
        <!-- / header -->
        <!-- content -->
        <section id="content">
            <div class="wrapper">
                <article class="col1">
                    
                    @RenderBody()
                </article>
                <article class="col2"></article>
            </div>
        </section>
        <footer>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/knockout")
            @RenderSection("scripts", required: false)
        </footer>
       
    </div>

</body>
</html>