
@{
    ViewBag.Title = "Recursos";
}


<h2>Recursos</h2>
<div ng-controller="RecursosController">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Recursos</div>
        <div class="panel-body">
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <ol class="breadcrumb">
                    <li>Bem vindo @HttpContext.Current.User.Identity.Name</li>
                    <li><a href="@Url.Action("Logoff", "Login")" class="btn btn-default">Sair</a></li>
                </ol>
            }

            <table class="table">
                <tr>
                    <th>Descrição</th>
                    <th>Qtd</th>
                    <th>Observação</th>
                    <th>Ações</th>
                </tr>
                <tr ng-repeat="recurso in listaRecursos">
                    <td ng-hide="true">{{recurso.Id}}</td>
                    <td>{{recurso.Descricao}}</td>
                    <td>{{recurso.Quantidade}}</td>
                    <td>{{recurso.Observacao}}</td>
                    <td>
                        @*<a class="btn-group btn-group-sm" ng-href="/Recursos/Edit/{{recurso.Id}}">Editar</a>*@
                        <button class="btn-group btn-group-sm" ng-click="getId(recurso.Id)">Editar</button>
                    </td>
                    <td>
                        <button class="btn-group btn-group-sm" ng-click="deleteRecurso(recurso.Id)">Excluir</button>
                        @*<a href="@Url.Action("Delete", "Recursos")" class="btn-group btn-group-sm">Excluir</a>*@
                    </td>
                </tr>
            </table>
        </div>
        <center>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Create", "Recursos")" class="btn btn-default">Novo</a></li>
                <li><a href="@Url.Action("Index", "Inventario")" class="btn btn-default">Inventario</a></li>
            </ol>
        </center>
    </div>

</div>